.page-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-bot-view {
  width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.conversation {
  width: 350px;
  border-radius: 5px;
  margin-bottom: 2%;
  background: lightgray;
  border: 1px solid black;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.serverMessage, .userMessage {
  margin: 2px;
  padding: 0;
}

form {
  width: 400px;
  display: flex;
  justify-content: center;
}

input[type=text] {
  margin: 0;
  width: 275px;
  border-radius: 5px;
}

button {
  padding: 11px 20px;
  border-radius: 5px;
  margin-left: 1%;
  background-color: rgb(243, 112, 33);
}

.search-result {
  padding: 10px;
  width: 380px;
  background-color: #fff;
  border: 1px solid #3a43ab;
}

.type p {
  padding: 0;
  margin: 0;
}

.type {
  margin: 5px;
}

.employee {
  color: #3a43ab;
}

.project {
  color: rgb(243, 112, 33);
}
